body {
  background: #add2c9;
  font-family: "Parkinsans", serif;
}
main {
  
    padding: 30px 0;
}
footer {
  font-size: 12px;
}

.overall {
  background: #488b8f;
  
  margin: 45px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.what-city {
  display: block;
  margin: 0 auto;
  padding: 10px 5px;
}

#search-field {
  width: 74%;
  padding: 10px 10px;
  border-radius: 10px;
  border-style: none;
  background: #add2c9;
}

#submit-field {
  width: 24%;
  padding: 10px 10px;
  border-radius: 10px;
  border-style: none;
  background: #add2c9;
}

#temperature-today {
  display: flex;
  justify-content: end;
  position: relative;
  top: -100px;
}

.weather-app-icon {
  width: 90px;
  height: 90px;
  
}
#today-temperature {
  font-size: 90px;
  margin-left: 10px;
  line-height: 90px;
  font-weight: bold;
}
#today-unit {
  font-size: 28px;
  margin-top: 15px;
}
#humidity {
  color: orange;
}

#wind {
  color: orange;
}
